@(books: List[AddressBook])
@books.map { book =>
	@book.groups.map { group =>
	<div class='block'>
	  <h4><a href="#" onclick="$('#@group.name').toggle();"><i class="icon-plus-sign"></i></a>&nbsp;@group.name</h4>
  	<div style="display:none;" id="@group.name">
  		<input type="checkbox" name="all" onclick="toggleAll(this);"/>&nbsp; Select All
  		<table class="table table-striped table-bordered table-condensed">
	  		@group.addresses.map { address =>
	    		<tr><td><input type="checkbox" name="email" value="@address.email" /></td><td>@address.name</td><td>[ @address.email ]</td></tr>
	  	  }
  	  </table>
  	</div>
  </div>
	}
 }
<script type="text/javascript">
function toggleAll(obj) {
	var check = $(obj).attr('checked') == 'checked';
	$(obj).parent().find('input').each(function() {
		if (check) {
			$(this).attr('checked', 'checked');
		} else {
			$(this).removeAttr('checked');
		}
	});
}
</script>
