@(books: List[AddressBook], user: String)
@import helpers.BasicFormHelper._

@main(user, 2) {
	<div class="row">
		<div class="span12">
			@form_for("/addressbook/update", "survey_form", "class" -> "form-horizontal") { 
			<div class="pull-right">
			    <a href="javascript:void(0);" onclick="addContact();" class="btn btn-warning"><i class="icon-user icon-white"></i>&nbsp;Add Contact</a>&nbsp;
			    <a data-toggle="modal" href="#groupNameModal" class="btn btn-warning"><i class="icon-folder-close icon-white"></i>&nbsp;Add Group</a>&nbsp;
			    <a href="javascript:void(0);" onclick="removeGroup();" class="btn btn-danger"><i class="icon-trash icon-white"></i>&nbsp;Remove Group</a>&nbsp;
				  <input type="submit" value="Save Details" class="btn btn-info"/> 
			</div>
			<h1>Address Book</h1>
 		  <hr>
	@books.map { book =>
		<div class="tabbable tabs-left">
		  <ul class="nav nav-tabs" id="addressbook">
				@book.groups.map { group =>
		  		<li @if(group.name == book.groups(0).name) { class="active" }><a href="#@group.name" data-toggle="tab"><input type="hidden" name="groups" value="@group.name" />@group.name</a></li>
				}
		  </ul>
		  <div class="tab-content">
		  	<div class="pull-right clearfix">
			    <a href="javascript:void(0);" onclick="removeGroup();" title="delete this group"><i class="icon-trash"></i></a>
			  	<div class="clearfix">&nbsp;</div>
			  </div>
				@book.groups.map { group =>
		    	<div class="tab-pane @if(group.name == book.groups(0).name) { active }" id="@group.name">
		    		<table class="table table-striped table-bordered table-condensed">
		    			<tr>
		    				<th></th>
		    				<th>Name</th>
		    				<th>Email</th>
		    			</tr>
		    		@group.addresses.map { address =>
		    			<tr>
		    				<td><a href="javascript:void(0);" onclick="removeContact(this);" class="btn btn-mini btn-danger"><i class="icon-remove-sign icon-white"></i></a></td>
			    		  <td><input type="hidden" name="@(group.name + "_name")" value="@address.name" />@address.name</td>
			    		  <td><input type="hidden" name="@(group.name + "_email")" value="@address.email" />@address.email</td>
		    			</tr>
		    	  }
		    		</table>
		    	</div>
				}
		  </div>
		</div>
	 }
  }
	  <div class="modal hide fade" style="display: none;" id="groupNameModal">
		  <div class="modal-header">
		    <button class="close" data-dismiss="modal">×</button>
		    <h3>Group Name</h3>
		  </div>
		  <div class="modal-body">
		    <p><input type="text" id="groupName" placeholder="Group Name"/></p>
		  </div>
		  <div class="modal-footer">
		    <a href="javascript:void(0);" onclick="clearGroupName();" class="btn">Close</a>
		    <a href="javascript:void(0);" onclick="addGroup();" class="btn btn-primary">Save changes</a>
		  </div>
		</div>
	</div>
</div>

	<script type="text/javascript">
	$('#addressbook a').click(function (e) {
	  e.preventDefault();
	  $(this).tab('show');
	});

	$('#groupNameModal').on('shown', function() {
	  $('#groupName').focus();
	})

	function addContact() {
		var group = $('.tab-pane.active').attr('id');
	$('.tab-pane.active').find('table').append('<tr><td><a href="javascript:void(0);" onclick="removeContact(this);" class="btn btn-mini btn-danger"><i class="icon-remove-sign icon-white"></i></a>&nbsp;</td><td><input type="text" name="'+ group +'_name" class="input-xlarge"/></td><td><input type="text" name="'+ group +'_email" class="input-xlarge"/></td></tr>');
	}

	function removeContact(obj) {
		$(obj).parent().parent().remove();
	}

	function addGroup() {
		var name = $('#groupName').val();
		clearGroupName();
		$('#addressbook').append('<li><a href="#'+ name + '" data-toggle="tab"><input type="hidden" name="groups" value="'+ name +'" />'+ name + '</a></li>');
	  $('.tab-content').append('<div class="tab-pane" id="' + name +'"><table class="table table-striped table-bordered table-condensed"><tr><th></th><th>Name</th><th>Email</th></tr></table></div>');
	  setTimeout("$('#addressbook a:last').tab('show')", 10);
	}

	function clearGroupName() {
		$('#groupNameModal').modal('toggle');
		$('#groupName').val("");
	}

	function removeGroup() {
		var group = $('.tab-pane.active').attr('id');
		$('#' + group).remove();
		$('#addressbook').find('.active').remove();
	  setTimeout("$('#addressbook a:first').tab('show')", 10);
	}
	</script>
}