extends ../layout.pug
block content
    div
        h1
            | Your password has been changed
        p Dear user,
        p We have updated your password as requested. If you did not change your password, your account may have been hacked and we recommend in that case to reset the password again.
        p Yours,
        p Factile team