extends ../text-layout.pug
block content 
    |

    | Dear user,

    | We have updated your password as requested. If you did not change your password, your account may have been hacked and we recommend in that case to reset the password again.

    | Yours,

    | Factile team

    |