.new-survey .row {
    margin: 1em 0;
}

.new-survey .subsection {
    background-color: #E9F4FE;
    padding: 1em;
}

.new-survey .help-text {
    font-style: italic;
    font-size: 0.8em;
    margin-bottom: 1em;
    color: #aaaaaa;
}