html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

#root {
  height: 100%;
}

table {
  border: 1px solid;
  width: 100%;
}

table td, table th {
  border: 1px solid #cccccc;
  padding: 0 5px;
}

.error-message {
  color: red;
}

.blue {
  color: #4CA9FD;
}
