.factile-nav { display: none;}
.workflow { margin: 0 auto; width: 100%; }
.node { -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa; text-align: center; padding-top: 1em;
   -webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px; min-height: 3em; margin-top: 1em; margin-bottom: 1em; }
.pageNode { border: #346789 solid 2px; width: 50%; background-color: #FFFFFF;}
.middle { margin: 0 auto; width: 50%;  }
.condition { background-color: #F9F9F9; padding: 1em 1em 1em 1em; float:right; position: relative; width: 80% !important;}
.conditionNode { border: #FAA732 solid 2px; width: 90%; } 
.start { background-color: #5BB75B; color: #FFFFFF;}
.end { background-color: #DA4F49; color: #FFFFFF;}
.pass-through { border-left: #888 dashed 1px; margin-left: 0.5em; min-height: 19em;}
