@(email: String, error: String = null, hasError:Boolean = false)
@import helpers.BasicFormHelper._

@main(null) {
  <h1>Forgot your password?</h1>
  <hr>
    @if(error != null) {
      <div id="error" class="alert @if(hasError) {
      alert-error
      } else {
      alert-success
      }
      ">
    	@error
      </div>
    }
  <p> Just enter your email address below and we will send you a new password.</p>
  @form_for("/recover", "recover_password_form", "class" -> "form-inline") {
	<input type="text" name="username" placeholder="Username" /> <input type="submit" value=">>" class="btn btn-primary"/>
  }
}