@(user: String, message: String = null, error: Boolean = false)
@import helpers.BasicFormHelper._

@main(user, 2) {
<div class="pull-right">
    <a href="/addressbook" class="btn btn-info"><i class="icon-list-alt icon-white"></i>&nbsp;My Address Book</a>&nbsp;
  </div>
  <h1>Settings</h1>
  <hr>
    @if(message != null) {
      <div id="error" class="alert 
      @if(error) {
        alert-error
      } else {
        alert-success
      }
      ">
    	@message
      </div>
    }
  @form_for("/user/preferences", "settings_form") {
	<div class="control-group"><input type="text" name="username" value="@user" placeholder="Email address" /></div>
  <div class="control-group"><input type="password" name="existing_password" id="e_password" placeholder="Current password" onBlur="passwordStrength();" /></div>
	<div class="control-group"><input type="password" name="password" id="password" placeholder="New password" onBlur="passwordStrength();" /></div>
	<div class="control-group"><input type="password" name="password2" id="password2" placeholder="Confirm new password" onBlur="verifyPassword('password', 'password2');"/></div>
    <br/><input type="submit" value="Save" class="btn btn-primary" onclick="return verifyPassword('password', 'password2');"/>
  }
}
