@(error: String = null)
@import helpers.BasicFormHelper._

@main(null) {
  <h1>Sign Up</h1>
  <hr>
    @if(error != null) {
      <div id="error" class="alert alert-error">
    	@error
      </div>
    }
  @form_for("/signup", "signup_form") {
	<div class="control-group"><input type="text" name="username" placeholder="Email address" /></div>
	<div class="control-group"><input type="password" name="password" id="password" placeholder="password" onBlur="passwordStrength();" /></div>
	<div class="control-group"><input type="password" name="password2" id="password2" placeholder="Confirm password" onBlur="verifyPassword('password', 'password2');"/></div>
    <br/><input type="submit" value="Sign Up" class="btn btn-primary" onclick="return verifyPassword('password', 'password2');"/>
  }
}
