html
  head
    title Factile
    style.
        .body {
            background-color: #FFFFFF;
            color: #333333;
            font-family: Helvetica;
        }

        .container {
            margin: 0 auto;
            font-size: 12px;
            width: 600px;
        }

        .content {
            padding: 20px 40px;
            background-color: #FFFFFF;
            color: #333333;
        }

        .header {
            padding: 5px 20px;
            margin-bottom: 10px;
            font-size: 18px;
        }

        .header h1 {
            color: #4CA9FD;
            border-bottom: 1px solid #AAAAAA;
        }

        .header .text_gray {
            color: #AAAAAA;
        }

        .footer {
            padding: 10px 20px;
            background: #1F1F1F;
            color: #C7C7C7;
            margin-top: 20px;
            font-size: 9px;
        }
  body
    div
        .body
            div
                .container
                    div
                        .header
                            h1 Factile
                                | 
                                span(class="text_gray") : Online Surveys
                    
                    div
                        .content
                            block content
            div
                .footer
                    p This is an automated email sent by Factile. If you have received this in error, please inform the survey administrator and us immediately.
                    a(href="https://www.factile.net") Factile 
                    | is a free online survey tool. Copyright 2020: All rights reserved.
