html
  head
    title Factile
    style.
        .body {
            background-color: #4CA9FD;
            font-family: Georgia;
        }

        .container {
            margin: 0 auto;
            background-color: #FFFFFF;
            color: #333333;
            font-size: 12px;
            width: 80%;
        }

        .content {
            padding: 20px;
        }

        .header {
            background-color: #4CA9FD;
            color: #ffffff;
            padding: 5px 20px;
            margin-bottom: 30px;
            font-size: 18px;
        }

        .footer {
            padding: 10px 20px;
            background: #1F1F1F;
            color: #C7C7C7;
            margin-top: 20px;
            font-size: 9px;
        }
  body
    div
        .body
            div
                .container
                    div
                        .header
                            p Factile: Online Surveys
                    
                    div
                        .content
                            block content
            div
                .footer
                    p This is an automated email sent by Factile. If you have received this in error, please inform the survey administrator and us immediately.
                    a(href="https://www.factile.net") Factile 
                    | is a free online survey tool. Copyright 2020: All rights reserved.
