extends ../layout.pug
block content
    div
        h1
            | Your temporary password
        p Dear user,
        p As requested, we have reset your password to a temporary one. Your temporary password is 
            b #{newPass}. 
            | We encourage you to login immediately and change this in the Settings menu. If you run into any troubles, please do not hesitate to contact us.
        p Yours,
        p Factile team