extends ../text-layout.pug
block content 
    |

    | Dear user,

    | As requested, we have reset your password to a temporary one. Your temporary password is #{newPass}. We encourage you to login immediately and change this in the Settings menu. If you run into any troubles, please do not hesitate to contact us.

    | Yours,

    | Factile team

    |