@(surveyId: String, owners: List[String], user: String)
@import helpers.BasicFormHelper._

@main(user, 0) {
	@form_for("/surveys/" + surveyId + "/collaborate", "survey_form", "class" -> "form-horizontal") { 
  <input type="submit" value="Save Details" class="btn btn-info pull-right"/>
  <h1>Collaborators</h1>
  <hr>
		@owners.map { owner =>
		<div>
		  @hidden_field("owners", owner)
		  @if(owner != user) {
		    <a href="#" onclick="removeCollaborator(this);" class="btn btn-mini btn-danger"><i class="icon-remove-sign icon-white"></i></a>
		  } @owner<br>
		</div>
		}
		<br><br><a href="#" class="btn btn-primary" onclick="addCollaborator();"><i class="icon-plus-sign icon-white"></i>&nbsp;Add</a><br>
	}
}

<script type="text/javascript">
function addCollaborator() {
$('#survey_form').append('<br><div><a href="#" onclick="removeCollaborator(this);" class="btn btn-mini btn-danger"><i class="icon-remove-sign icon-white"></i></a>&nbsp;<input type="text" name="owners" class="input-xlarge"/></div><br>');
}

function removeCollaborator(obj) {
	$(obj).parent().remove();
}
</script>