@(surveyId: String, owners: Seq[String], user: String)
@import helpers.BasicFormHelper._

@main(user, 0) {
	@form_for("/surveys/" + surveyId + "/collaborate", "survey_form", "class" -> "form-horizontal") { 
  <input type="submit" value="Save Details" class="btn btn-info pull-right"/>
  <h1>Collaborators</h1>
  <hr>
  <p><em>You can add others as collaborators here. Once added, they will be able to view this survey as their own on their dashboard, and make changes, view responses, do everything you can do with it.</em></p><br><br>
  <p>The collaborators to this survey are:</p>
		@owners.map { owner =>
		<div>
		  @hidden_field("owners", owner)
		  @if(owner != user) {
		    <a href="javascript:void(0);" onclick="removeCollaborator(this);" class="btn btn-mini btn-danger"><i class="icon-remove-sign icon-white"></i></a>
		  } @owner<br>
		</div>
		}
		<br><br><a href="javascript:void(0);" class="btn btn-primary" onclick="addCollaborator();"><i class="icon-plus-sign icon-white"></i>&nbsp;Add</a><br>
	}
}

<script type="text/javascript">
function addCollaborator() {
$('#survey_form').append('<br><div><a href="javascript:void(0);" onclick="removeCollaborator(this);" class="btn btn-mini btn-danger"><i class="icon-remove-sign icon-white"></i></a>&nbsp;<input type="text" name="owners" class="input-xlarge"/></div><br>');
}

function removeCollaborator(obj) {
	$(obj).parent().remove();
}
</script>