@(surveyId: String, user: String, responses: Map[String, Map[String, Double]], numberOfResponses: Int = 0, texts: Map[String, String] = Map[String, String](), 
responseSummary: Map[String, String] = Map[String, String](), wordClouds: Map[String, Map[String, Int]] = Map[String, Map[String, Int]]())

@answerClass(index: Int) = {
	@if(index % 2 == 0) {
		even
	} else {
		odd
	}
}
@main(user, 0, true) {
  <div class="pull-right">
    <a href="/surveys/@surveyId/export" class="btn btn-info" title="Export to Excel"><i class="icon-download icon-white"></i>&nbsp;Download</a>&nbsp;
    <a href="/reports/@surveyId" class="btn btn-warning" title="Insights"><i class="icon-eye-open icon-white"></i>&nbsp;Insights</a>&nbsp;
  </div>
	<h1>@numberOfResponses Responses Captured So Far</h1>
	<hr>
	<br>

	@responses.toList.sortBy{_._1}.zipWithIndex.map { case ((question, answers),index) =>
		<div class="questionBox">
			<div class="row">
				<div class="span11">
		  @defining(answers.toList.sortBy{_._1}) { sorted =>
		            <span class="dropdown pull-right">
		              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Chart <b class="caret"></b></a>
		              <ul class="dropdown-menu">
		                <li><a href="javascript:void(0);" onclick="javascript:show_pie_chart('@(texts.getOrElse(question, question))', '@(question + "_container")', [ @responseSummary(question) ] );">Pie Chart</a></li>
		                <li>
		            	  @defining(sorted.map{ x => texts.getOrElse(question.split("_")(0) + "_" + x._1, x._1).replace("'", "\\'")}.mkString("', '")) { options =>
		            	    @defining(sorted.map(_._2).mkString(", ")) { values =>
		            	      <a href="javascript:void(0);" onclick="javascript:show_bar_chart('@(texts.getOrElse(question, question))', '@(question + "_container")', [ '@options'], [ @values ] );">Bar Chart</a></li>
		                    }
		                  }
		                @if(wordClouds.getOrElse(question, null) != null) {
		                <li><a href="javascript:void(0);" onclick="javascript:$('#@(question + "_cloud")').find('.wordcloud').show();">Word Cloud</a></li>
		                }
		              </ul>
		            </span>
						<h3>@(index + 1). @(texts.getOrElse(question, question))</h3>
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="clearfix">&nbsp;</div>
					</div>
						<div class="row"><div id="@(question + "_container")" class="span11"></div>
						@if(wordClouds.getOrElse(question, null) != null) {
							<div id="@(question + "_cloud")" class="span11">
								<div class="wordcloud" style="display:none;">
								  @wordClouds(question).toList.map { case (w, c) =>
								    <a href="javascript:void(0);" rel="@c">@w</a>
								  }
								</div>
							</div>
					  }
						<div class="span12 pull-left"><a href="javascript:void(0);" onclick="javascript: $(this).parent().parent().nextAll('.answerBox').toggle();" class="btn btn-mini">+</a></div>
						<div class="clearfix">&nbsp;</div>
						</div>
						<div class="answerBox">
				  @sorted.zipWithIndex.map { case ((ans, count), aIndex) => 
						<div class="row">
							<div class="span11 @answerClass(aIndex + 1).body.trim">
				    	<div class="span6">@(texts.getOrElse(question.split("_")(0) + "_" + ans, ans))</div>
					  	<div class="span2">@(new java.text.DecimalFormat("#######.#").format(count))</div>
					  	<div class="span2">@((((1d * count) / numberOfResponses) * 100).toInt) %</div>
					  </div>
						</div>  
				  }
				</div>
		  }
		</div>  
		<div class="clearfix">&nbsp;</div>
		<div class="clearfix">&nbsp;</div>
	}
}
<script type="text/javascript">
$.fn.tagcloud.defaults = {
  size: {start: 1, end: 5, unit: 'em'},
  color: {start: '#AAB5F0', end: '#39D'}
};

$(function () {
  $('.wordcloud a').tagcloud();
});
</script>