@(survey: Survey)(implicit request: RequestHeader)

@import helpers.ResponseHelper._

@inputClass()(f: => Boolean) = {
  @if(f) {
    class="required input-xlarge"
  } else {
    class="input-xlarge"
  }
} 

@replace(text: String) = { @Html(replaceTokens(text, Map[String, String]())) }

@surveys.pdf_base(survey.name) {
<style type="text/css">
  body { background-color: @survey.layout.bodycolor; color: @survey.layout.textColor; padding-top: 2%;}
  .survey { background-color: @survey.layout.containercolor; padding: 2% 2% 2% 2%; }
  .banner { background-color: @survey.layout.logoBgColor; width: 100%; height: 100%; padding: 2% 2% 2% 2%; }
  .logo { display: block; @if(survey.layout.logoAlignment == "right" || survey.layout.logoAlignment == "center") {
      margin-left: auto;
    } @if(survey.layout.logoAlignment == "left" || survey.layout.logoAlignment == "center") {
      margin-right: auto;
    } }
</style>

@if(survey.logo != null && survey.logo != "") {
  <div class="row">
    <div class="span12">
    <div class="banner">
      <img src="@("/assets/uploads/" +  survey.hash_string + "/" + survey.logo)" class="logo"/>
    </div>
    </div>
  </div>
}

<div class="row">
  <div class="span12 survey">
    <h1>@survey.name</h1>
    <hr>
  </div>
</div>

@if((survey.intro_text != null && survey.intro_text.trim.length > 0) && !survey.questions.isEmpty) {
<div class="row">
  <div class="span12 survey">
    @Html(survey.intro_text)
  </div>
</div>
}

<div class="row">
  <div class="span12 survey">
    <div id="errorNotice">
    </div>
    @survey.questions.map { q => 
    <div class="row">
      <div class="span12">
        @q match {
          case question: TextBox => {
        <b>@replace(question.texts(0).text) __________________________</b> 
          }
          case question: RadioButtons => {
        <b>@replace(question.texts(0).text)</b> 

        <div id="@(question.questionId + "_options")">
          <ul class="radioList">
          @question.options.map { o =>
            @defining(question.options(0).value) { o1 => 
                <li><span class="box">&nbsp;</span><span>@replace(o.texts(0).text)</span></li>
               }
             }
           </ul>

            @if(question.hasOther) {
            <span class="box">&nbsp;</span> @question.otherBox(0).text __________________________<br><br>
            }
          </div>
          }
          case question: DropDown => {
        <b>@replace(question.texts(0).text)</b> 
        <div id="@(question.questionId + "_options")">
                    <ul>
            @question.options.map { o =>
              <li><span class="box">&nbsp;</span><span>@replace(o.texts(0).text)</span></li>
              }
              @if(question.hasOther) {
              <span class="box">&nbsp;</span> @question.otherBox(0).text __________________________<br><br>
              }
              </ul>
          </div>
          }
          case question: CheckBoxes => {
        <b>@replace(question.texts(0).text)</b> 
        <div id="@(question.questionId + "_options")">
                    <ul>
            @question.options.map { o =>
              <li><span class="box">&nbsp;</span><span>@replace(o.texts(0).text)</span></li>
              }
              @if(question.hasOther) {
              <span class="box">&nbsp;</span> @question.otherBox(0).text __________________________<br><br>
              }
              </ul>
          </div>
          }
          case question: Ranking => {
          <b>@replace(question.texts(0).text)</b> 
          <div id="@(question.questionId + "_options")">
            <ul>
            @question.options.map { o =>
              <li>________ @replace(o.texts(0).text)</li>
            }
            </ul>
            @if(question.hasOther) {
              <br>@question.otherBox(0).text __________________________
            }
          </div>
          }
          case question: RatingScale => {
          <b>@replace(question.texts(0).text)</b> <br><br>

          <table>
          <tr>
            <th>&nbsp;</th>
            @question.options.map { o =>
              <th> @replace(o.texts(0).text)</th>
              }
                @if(question.hasOther) {
                <th> @question.otherBox(0).text </th>
              }
            </tr>
          @question.dimensions.map { d =>
            <tr>
              <td>@replace(d.texts(0).text)</td>
              @question.options.map { o =>
                <td><span>&nbsp;</span></td>
                }
              @if(question.hasOther) {
              <td>&nbsp;</td>
              }
              </tr>
            }
          </table>
          }
          case question: TextArea => {
        <b>@replace(question.texts(0).text)</b><br><br><div class="big_box">&nbsp;</div>
          }
          case question: PlainText => {
        @replace(question.texts(0).text)
          }
          case question: PageBreak => {
        <!-- New page -->
        <DIV style="page-break-after:always"></DIV>
          }
        }
      </div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
    </div>
    }

    @if(survey.questions.isEmpty) {
      <p>@Html(survey.thank_you_text)</p>
      } else {
<div class="row">
  <div class="span4">&nbsp;</div>
   <div class="span7">&nbsp;</div>
</div>
      }
  </div>
</div>
}
@if(survey.language == "5" || survey.language == "8") {
<script type="text/javascript">
  rtl = true;
</script>
}