@(user: String, surveyId: String, pages: List[Question] = List[Question]())
@import helpers.BasicFormHelper._

@main(user, 0) {
<style>
.factile-nav { display: none;}
.workflow { margin: 0 auto; width: 100%; }
.node { -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa; text-align: center; padding-top: 1em;
   -webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px; min-height: 3em; margin-top: 1em; margin-bottom: 1em; }
.pageNode { border: #346789 solid 2px; width: 50%; background-color: #FFFFFF;}
.middle { margin: 0 auto; width: 50%;  }
.condition { background-color: #F9F9F9; padding: 1em 1em 1em 1em; float:right; position: relative; width: 80% !important;}
.conditionNode { border: #FAA732 solid 2px; width: 90%; } 
.start { background-color: #5BB75B; color: #FFFFFF;}
.end { background-color: #DA4F49; color: #FFFFFF;}
.pass-through { border-left: #888 dashed 1px; margin-left: 0.5em; min-height: 19em;}
</style>
@form_for("/surveys/" + surveyId + "/updateflow", "survey_form" ) { 
<div class="pull-right">
	<input type="submit" value="Save Details" class="btn btn-info"/>
</div>
<div class="clearfix">&nbsp;</div>
<div class="workflow">
	<div class="node alert-success" id="survey_start">Survey Start</div>
	<div class="middle"><i class="icon-arrow-down"></i></div>
	<div class="node pageNode" id="p1">
	  &nbsp;Page 1
	</div>
	@pages.zipWithIndex.map { case (p: PageBreak, i: Int) =>
	<div class="middle">
		<i class="icon-arrow-down"></i>
		<a href="javascript:void(0);" class="btn btn-mini" onclick="addNode('@p.questionId');"><i class="icon-cog"></i></a>
	</div>
	<div class="node pageNode" id="@p.questionId">
		&nbsp;Page @(i + 2)
	</div>
	}
	<div class="middle"><i class="icon-arrow-down"></i></div>
	<div class="node alert-error" id="survey_end">
	  &nbsp;End of Survey
	</div>
</div>
}
}

<script type="text/javascript">
var questions = []
function displayAnswerOptions(id) {
  var q = questions[$('#' + id).prop('selectedIndex') - 1];
  var html = ""
  for(i=0; i< q.options.length; i++) {
  	html += ("<option value=''>" + q.options[i] + "</option>");
  }
  var qId = id.replace('_q', '');
  var obj = $('#' + qId + "_ans");
  obj.html(html);
  if (html == "") {
  	if (obj.parent().find('input[type="text"]').length == 0) {
	  	$("<input type='text' id='" + qId + "_text'/>").insertAfter(obj);
  	}
  } else {
  	obj.parent().find('input[type="text"]').remove();
  }
}

  function addNode(qId) {
  	$.ajax({
	    type: "GET",
	    cache: false,
      dataType: "json",
	    url: '/surveys/questions/@surveyId/' + qId,
	    success: function( response) {
	    	console.log(response.questions[0].text);
		  	var obj = $('#' + qId);
		  	var nextId = obj.nextAll('.pageNode:first').attr('id');
		  	$('<div class="pull-left"><div class="pass-through"></div><div><i class="icon-arrow-down"></div></div>').insertBefore(obj);
		  	var x = obj.html();
		  	obj.attr('class', 'condition');
		  	obj.removeAttr('id');

		  	questions = response.questions

		  	var displaySelector = "<select name=\"" + qId + "_display\" class='input-small'><option value='show'>Show If</option><option value='skip'>Skip If</option></select>";
		  	var questionSelector = "<select name=\"" + qId + "_q\" id=\"" + qId + "_q\" onChange=\"displayAnswerOptions('" + qId+ "_q');\"><option></option>";
		  	for (i=0; i< response.questions.length; i++) {
		  		questionSelector += "<option value='" + response.questions[i].id + "'>" + response.questions[i].text + "</option>";
		  	}
		  	questionSelector += "</select>";

		  	var answerSelector = "<select name=\"" + qId + "_ans\" id=\"" + qId + "_ans\"></select>";
		  	var comparisonTypeSelector = "<select name=\"" + qId + "_op\" class='input-small'><option value='eq'>is</option><option value='ne'>is not</option><option value='like'>has</option><option value='notlike'>does not have</option></select>";
		  	var moreSelector = "<select name=\"" + qId + "_more\" class='input-small' disabled='disabled'><option></option><option>And</option><option>Or</option></select>";
		  	var includeQuestionTag = "<br><a href='javascript:void(0);' onclick='includeNext(\"" + nextId + "\");' class='btn btn-mini btn-info'><i class='icon-circle-arrow-right icon-white'></i> Include Next</a>";
		  	obj.html("<div class=\"node conditionNode\" id=\"" + qId + "_condition \">" + displaySelector +" " + questionSelector + " " + comparisonTypeSelector + " " + answerSelector+ " "  + moreSelector +"</div><div class=\"node pageNode\" id=\"" + qId + " \">" + x + "</div>" + includeQuestionTag + "<div class='clearfix'>&nbsp;</div>");
	    }
	  });
  }

  function includeNext(qId) {
  	var obj = $('#' + qId);
  	var x = obj.html();
  	var nextId = obj.nextAll('.pageNode:first').attr('id');
  	var includeQuestionTag = "<br><a href='javascript:void(0);' onclick='includeNext(\"" + nextId + "\");' class='btn btn-mini btn-info'><i class='icon-circle-arrow-right icon-white'></i> Include Next</a>";
  	var cog = obj.prevAll(".middle:first");
  	var condition = obj.prevAll(".condition:first");
  	condition.find('br:last').remove();
  	condition.find('.clearfix:last').remove();
  	condition.find('.btn-info').remove();
  	condition.append(cog[0].outerHTML + "<div class=\"node pageNode\" id=\"" + qId + " \"><input type='hidden' name='" + qId + "_included' value='true'/>" + x + "</div>" + includeQuestionTag);
  	var h = condition.height();
  	condition.prevAll(".pull-left:first").find(".pass-through").height(h);
  	obj.remove();
  	cog.remove();
  }
</script>