@(user: String, surveyId: String, pages: List[Question] = List[Question]())
@import helpers.BasicFormHelper._

@main(user, 0) {
<link rel="stylesheet" href="@routes.Assets.at("stylesheets/flow.css")" />
<script src="@routes.Assets.at("javascripts/flow.js")" type="text/javascript"></script>

@form_for("/surveys/" + surveyId + "/updateflow", "survey_form" ) { 
<div class="pull-right">
	<input type="submit" value="Save Details" class="btn btn-info"/>
</div>
<div class="clearfix">&nbsp;</div>
<div class="workflow">
	<div class="node alert-success" id="survey_start">Survey Start</div>
	<div class="middle"><i class="icon-arrow-down"></i></div>
	<div class="node pageNode" id="p1">
	  &nbsp;Page 1
	</div>
	@pages.zipWithIndex.map { case (p: PageBreak, i: Int) =>
	<div class="middle">
		<i class="icon-arrow-down"></i>
		<a href="javascript:void(0);" class="btn btn-mini" onclick="addNode('@surveyId', '@p.questionId');"><i class="icon-cog"></i></a>
	</div>
	<div class="node pageNode" id="@p.questionId">
		&nbsp;Page @(i + 2)
	</div>
	}
	<div class="middle"><i class="icon-arrow-down"></i></div>
	<div class="node alert-error" id="survey_end">
	  &nbsp;End of Survey
	</div>
</div>
}
<script type="text/javascript">
@pages.map { case (page: PageBreak) =>
  @if(!page.conditions.isEmpty) {
  	addNode("@surveyId", "@page.questionId");
  }
}
</script>
}
