@(action: String, title: String, survey: Option[Survey] = None)

@import helpers.BasicFormHelper._
@import models.Languages._

@form_for(action, "survey_form", "class" -> "form-horizontal", "enctype" -> "multipart/form-data" ) { 
  <ul class="flow">
    <li class="activeStep"><a href="javascript:void(0);"><span class="stepNumber">1.</span> Basic Survey Details</a><span class="flow-triangle"></span></li>
    @if(survey != None) {
      <li><a href="/surveys/@survey.get.surveyId/edit"><span class="stepNumber">2.</span> Add Questions</a><span class="flow-triangle"></span></li>
      <li><a href="/surveys/@survey.get.surveyId/invite"><span class="stepNumber">3.</span> Share It With Your Audience</a><span class="flow-triangle"></span></li>
    } else {
      <li><a data-toggle="modal" href="#inviteDialog" class="lb"><span class="stepNumber">2.</span> Add Questions</a><span class="flow-triangle"></span></li>
      <li><a data-toggle="modal" href="#inviteDialog" class="lb"><span class="stepNumber">3.</span> Share It With Your Audience</a><span class="flow-triangle"></span></li>
    }
  </ul>
  <div class="clearfix">&nbsp;</div>
<div class="pull-right">
  @if(survey != None) {
    <a href="/surveys/@survey.get.surveyId/edit" class="btn btn-warning">Questions</a>&nbsp;
    <a href="/surveys/@survey.get.surveyId/close" class="btn btn-warning"><i class="icon-ban-circle icon-white"></i>&nbsp;Close Me</a>&nbsp;
    <a href="/surveys/@survey.get.surveyId/invite" class="btn btn-info" title="Share"><i class="icon-share-alt icon-white"></i>&nbsp;Share</a>    
    <a href="/surveys/@survey.get.surveyId/collaborate" class="btn btn-info" title="Collaborate"><i class="icon-user icon-white"></i>&nbsp;Collaborate</a>    
  }
  <input type="submit" value="Save Details" class="btn btn-info"/>
	</div>
  <h1>@title</h1>
  <hr>
<div id="errorNotice" class="alert alert-error" style="display:none;">Please fill in the highlighted fields below.</div>

  <div class="control-group">
    <label class="control-label" for="surveyname">Survey Name</label>
    <div class="controls">
	  @text_field("surveyname", survey.getString(_.name), "Survey Name", "input-xlarge")
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="language">Language</label>
    <div class="controls">
      @dropdown("language", survey.getString(_.language, "1"), all, false, "input-xlarge")
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="logo">Logo Image</label>
    <div class="controls">
      @defining(survey.flatMap{ s: Survey => if (s.logo != null && s.logo != "") { Some("/assets/uploads/" +  s.hash_string + "/" + s.logo) } else None }.getOrElse(null) ) { logo => 
      @file_field("logo", logo, "Logo Image", "input-xlarge")
    }
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="accessType">Share Mode</label>
    <div class="controls">
      @dropdown("accessType", survey.getString(_.accessType), List[(String, String)]("Open" -> "open", "Email" -> "email"), false, "input-xlarge")
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="accessType">Survey Link</label>
    <div class="controls">
      @text_field("surveyURI", survey.getString(_.uri), "Survey Link", "input-xlarge")
      <p><small>e.g. http://www.factile.net/MY_LINK. <br>At times, you may want a more user friendly link. <br>The text you specify above will be used to form the link that the user will get. <br>If not specified, a unique system generated text will be used.</small></p>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="logoAlignment">Logo Position</label>
    <div class="controls">
      @radio_buttons("logoAlignment", survey.getString(_.layout.logoAlignment), List[(String, String)]("Left" -> "left", "Center" -> "center", "Right" -> "right"), "input-xlarge")
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="includeProgress">Show Progress Bar</label>
    <div class="controls">
      @radio_buttons("includeProgress", survey.getString(_.layout.includeProgress.toString), List[(String, String)]("Yes" -> "true", "No" -> "false"), "input-xlarge")
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="bodycolor">Page Background Color</label>
    <div class="controls">
      @text_field("bodycolor", survey.getString(_.layout.bodycolor, "#FFFFFF"), "Background Color", "input-xlarge")
      <img src="/assets/images/color_wheel.png" style="vertical-align: -20%; cursor: pointer;" onclick="_whichField = 'bodycolor'; CLCPshowPicker();" alt="Color picker" title="Color picker">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="containercolor">Survey Box Color</label>
    <div class="controls">
      @text_field("containercolor", survey.getString(_.layout.containercolor, "#FFFFFF"), "Box Color", "input-xlarge")
      <img src="/assets/images/color_wheel.png" style="vertical-align: -20%; cursor: pointer;" onclick="_whichField = 'containercolor'; CLCPshowPicker();" alt="Color picker" title="Color picker">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="logoBgColor">Logo Background Color</label>
    <div class="controls">
      @text_field("logoBgColor", survey.getString(_.layout.logoBgColor, "#FFFFFF"), "Logo Background Color", "input-xlarge")
      <img src="/assets/images/color_wheel.png" style="vertical-align: -20%; cursor: pointer;" onclick="_whichField = 'logoBgColor'; CLCPshowPicker();" alt="Color picker" title="Color picker">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="textColor">Text Color</label>
    <div class="controls">
      @text_field("textColor", survey.getString(_.layout.textColor, "#555555"), "Text Color", "input-xlarge")
      <img src="/assets/images/color_wheel.png" style="vertical-align: -20%; cursor: pointer;" onclick="_whichField = 'textColor'; CLCPshowPicker();" alt="Color picker" title="Color picker">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="introText">Introductory Message (optional)</label>
    <div class="controls">
      @text_area("introText", survey.getString(_.intro_text), "input-xlarge")
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="thankyouText">'Thank You' text.</label>
    <div class="controls">
      @text_area("thankyouText", survey.getString(_.thank_you_text, "Thank you for participating."), "input-xlarge")
    </div>
  </div>

<link rel="stylesheet" href="@routes.Assets.at("stylesheets/COLOURloversColorPicker.css")" type="text/css" media="all" />
<script type="text/javascript" src="@routes.Assets.at("javascripts/COLOURloversColorPicker.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/survey_form.js")"></script>
<div id="CLCP" class="CLCP"></div>
 <div id="inviteDialog" title="Confirmation Required" class="modal hide fade" style="display:none;">
   <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Please note</h3>
      </div>
      <div class="modal-body">
        Please add a survey name and click on 'Save Details'.
      </div>
      <div class="modal-footer">
        <a href="javascript:void(0);" onclick="$('#inviteDialog').modal('toggle');" class='btn'>OK</a>
      </div>
    </div>
  </div>

  }

<script type="text/javascript">
  initial_hex = "@survey.getString(_.layout.bodycolor, "#FFFFFF")";
  $(document).ready(function(){
    $(".lb").click(function(e) {
        $("#inviteDialog").modal('toggle');
        return false;
      });
  });
</script>