@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon" />
        <script src="/public/javascripts/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="/public/javascripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>
        <script src="/public/javascripts/survey.js" type="text/javascript"></script>
        <script src="/public/javascripts/validation.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="container">
            @content
        </div>
    </body>
</html>
