@(surveyId: String, user: String, maxQuestionId: Int = 0, survey: Survey = null, pageIds: List[String] = List[String]())
@import helpers.BasicFormHelper._
@import Languages._

@render_options_block(qId: String, options: Seq[AnswerOption], allowOther: Boolean, othertexts: Seq[Text]) = {
  </div><br><label class="control-label">Options</label><div class="controls"><textarea name="@(qId + "_options")" id="@(qId + "_options")" rows="5" class='input-xxlarge' placeholder='Please enter the options here, each in a new line.'>@options.map{ o =>@(o.texts(0).text + "\n")}</textarea> <a href="javascript:void(0);" class="pipe" onclick="getQuestionsForPiping(this, '_options');"><i class="icon-chevron-left" title="Pipe"></i></a></div><div class="controls"><label class="checkbox"><input type='checkbox' name="@(qId + "_allow_other")" id="@(qId + "_allow_other")" value='true' 
  @if(allowOther) {
    checked="checked" 
  }
  />Allow 'Other' option</label></div><label class="control-label">Text for 'Other' option</label><div class="controls"><input type='text' name="@(qId + "_other_text")" id="@(qId + "_other_text")" class='input-xxlarge' value="@othertexts(0).text"/>
}

@render_dimensions_block(qId: String, options: Seq[Dimension]) = {
  </div><br><label class="control-label">Questions</label><div class="controls"><textarea name="@(qId + "_dimensions")" id="@(qId + "_dimensions")" rows="5" class='input-xxlarge' placeholder='Please enter the individual questions here, each in a new line.'>@options.map{ o =>@(o.texts(0).text + "\n")}</textarea> <a href="javascript:void(0);" class="pipe" onclick="getQuestionsForPiping(this, '_dimensions');"><i class="icon-chevron-left" title="Pipe"></i></a>
}

@render_question_text(qId: String, qType: String, qTypeName: String, texts: Seq[Text], mandatory: Boolean, textarea: Boolean = false) = {
  @qTypeName <input type="hidden" name="question[]" id="@qId" value="@qId"><input type="hidden" name="@(qId + "_t")" id="@(qId + "_t")" value="@qType"><br><br><label class="control-label">Text</label><div class="controls">
  @if(!textarea) {
      <input type="text" name="@(qId + "_q")" id="@(qId + "_q")" value="@texts(0).text" class='input-xxlarge' placeholder='Please enter the question here'> <a href="javascript:void(0);" class="pipe" onclick="getQuestionsForPiping(this, '_q');"><i class="icon-chevron-left" title="Pipe"></i></a>
    </div><div class="controls"><label class="checkbox"><input type='checkbox' name='@(qId + "_m")' id='@(qId + "_m")' value='true'  
    @if(mandatory) {
      checked="checked" 
    }
    />Mandatory</label>
  } else {
    <textarea class="ckeditor" name="@(qId + "_q")" id="@(qId + "_q")" >@texts(0).text</textarea>
  }
}

@render_question(f: => Html) = {
    <div class="block">
      <div class="pull-right"><a href="javascript:void(0);" onclick="getQuestionsForMove(this);"><i class="icon-move icon-padding" title="Move"></i></a><a href="javascript:void(0);" class="copyQuestion"><i class="icon-book icon-padding" title="Copy"></i></a><a href="javascript:void(0);" onclick="removeQuestion(this);"><i class="icon-trash icon-padding" title="Delete"></i></a></div>
        <div class="control-group">@f</div>
      </div>
    </div>
}

@main(user) {
  <ul class="flow">
    <li><a href="/surveys/@surveyId/editinfo"><span class="stepNumber">1.</span> Basic Survey Details</a><span class="flow-triangle"></span></li>
    <li class="activeStep"><a href="javascript:void(0);"><span class="stepNumber">2.</span> Add Questions</a><span class="flow-triangle"></span></li>
    <li><a href="/surveys/@surveyId/invite" class='lb'><span class="stepNumber">3.</span> Share It With Your Audience</a><span class="flow-triangle"></span></li>
  </ul>
  <div class="clearfix">&nbsp;</div>
  @surveys.toolbar(surveyId)
  @form_for("/surveys/" + surveyId + "/update", "survey_form", "class" -> "form-horizontal") { 

  @if(survey != null && survey.status == "Live") {
  <div class="alert alert-info">
    This survey is live and any changes made here would be visible to users as soon as you save or preview them. Just so you know!
  </div>
  }

  <input type="hidden" name="survey_status" id="survey_status" value="" />
  <ul class="nav nav-tabs" id="page_nav_tabs">
    <li class="active" id="tab_p1">
      <a href="javascript:void(0);" onclick="openPage('p1')">Page 1</a>
    </li>
    @defining( pageIds.zipWithIndex.toMap ) { pages => 
      @pageIds.map { pId => 
      <li id="tab_@pId">
        <a href="javascript:void(0);" onclick="openPage('@pId')">Page @(pages(pId)+ 2)</a>
      </li>
      }
    }
  </ul>
  <div id="piping" class="pipe-menu"></div>
  <div id="survey">
    <div id="p1">
      <div class="pull-right"><a href="javascript:void(0);" onclick="removePage(this);" class="btn btn-danger"><i class="icon-trash icon-white" title="Delete"></i></a></div>
      <div class="clearfix">&nbsp;</div>
      <div class="clearfix">&nbsp;</div>
      @if(survey != null && survey.questions != null) {
        @survey.questions.map { question => 
          @question match {
            case t: TextBox => {
              @render_question {
                @render_question_text(t.questionId, "text", "Text Field", t.texts, t.mandatory)
              }
            }
            case t: RadioButtons => {
              @render_question {
                @render_question_text(t.questionId, "radio", "Single Choice", t.texts, t.mandatory)
                @render_options_block(t.questionId, t.options, t.hasOther, t.otherBox)
              }
            }
            case t: DropDown => {
              @render_question {
                @render_question_text(t.questionId, "dropdown", "Dropdown", t.texts, t.mandatory)
                @render_options_block(t.questionId, t.options, t.hasOther, t.otherBox)
              }
            }
            case t: CheckBoxes => {
              @render_question {
                @render_question_text(t.questionId, "checkbox", "Multiple Choice", t.texts, t.mandatory)
                @render_options_block(t.questionId, t.options, t.hasOther, t.otherBox)
              }
            }
            case t: Ranking => {
              @render_question {
                @render_question_text(t.questionId, "ranking", "Ranking", t.texts, t.mandatory)
                @render_options_block(t.questionId, t.options, t.hasOther, t.otherBox)
              }
            }
            case t: RatingScale => {
              @render_question {
                @render_question_text(t.questionId, "rating", "Rating Scale", t.texts, t.mandatory)
                @render_options_block(t.questionId, t.options, t.hasOther, t.otherBox)
                @render_dimensions_block(t.questionId, t.dimensions)
              }
            }
            case t: TextArea => {
              @render_question {
                @render_question_text(t.questionId, "textarea", "Large Text/ Essay", t.texts, t.mandatory)
              }
            }
            case t: PlainText => {
              @render_question {
                @render_question_text(t.questionId, "info", "Plain Text", t.texts, false, true)
              }
            }
            case t: PageBreak => {
              </div>
              <div id="@t.questionId">
                <div class="pull-right"><a href="javascript:void(0);" onclick="removePage(this);" class="btn btn-danger"><i class="icon-trash icon-white" title="Delete"></i></a></div>
                <div class="clearfix">&nbsp;</div>
                <div class="clearfix">&nbsp;</div>
                <input type='hidden' name='question[]' id='@t.questionId' value='@t.questionId'/><input type='hidden' name='@(t.questionId + "_q")' id='@(t.questionId + "_q")' value='page'/><input type='hidden' name='@(t.questionId + "_t")' id='@(t.questionId + "_t")' value='page'/>
            }
          }
        }
      }
    </div>
  </div>

  <div id="inviteDialog" title="Confirmation Required" style="display:none;">
    Any unsaved changes would be lost. You must click on one of <em>'Save Draft'</em>, <em>'Activate'</em> or <em>'Preview'</em> buttons to save changes before proceeding. Proceed?
    <br>
    <br>
    <a href="javascript:void(0);" onclick="$('#inviteDialog').hide();" class='btn'>Cancel</a>&nbsp;<a href="javascript:void(0);" onclick="window.location.href = $('.lb').attr('href');"  class='btn btn-info'>Proceed</a>&nbsp;
  </div>

    <script type="text/javascript">
    var pageCount = @pageIds.size + 1;
    questionCount = @maxQuestionId;
    @pageIds.map { pId => 
      $('#@pId').hide();
    }

    $(document).ready(function(){
      $(".lb").click(function(e) {
          $("#inviteDialog").show();
          return false;
        });
    });
    </script>
  }
}