@(surveyId: String)
  <div class="btn-toolbar">
    <div class="btn-group">
      <button class="btn dropdown-toggle" data-toggle="dropdown">Use a Template <span class="caret"></span></button>
      <ul class="dropdown-menu">
        @defining(Template.all) { templates => 
           @templates.map { template => 
            <li><a href="javascript:confirmBox('/surveys/@surveyId/template/@template.get("_id")');">@template.get("name")</a></li>
          }
        }
          </ul>
    </div>
  	<div class="btn-group">
  		<button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Add Question <span class="caret"></span></button>
  		<ul class="dropdown-menu">
            <li><a href="javascript:void(0);" onclick="javascript:addTextField();" onmouseover="show('textbox_example')" onmouseout="hide('textbox_example')">Text Box</a></li>
            <li><a href="javascript:void(0);" onclick="javascript:addRadio();" onmouseover="show('radio_example')" onmouseout="hide('radio_example')">Single Choice</a></li>
            <li><a href="javascript:void(0);" onclick="javascript:addCheckbox();" onmouseover="show('checkbox_example')" onmouseout="hide('checkbox_example')">Multiple Choice</a></li>
            <li><a href="javascript:void(0);" onclick="javascript:addRanking();" onmouseover="show('ranking_example')" onmouseout="hide('ranking_example')">Ranking</a></li>
            <li><a href="javascript:void(0);" onclick="javascript:addDropdown();" onmouseover="show('dropdown_example')" onmouseout="hide('dropdown_example')">Drop Downs</a></li>
            <li><a href="javascript:void(0);" onclick="javascript:addRatingScale();" onmouseover="show('rating_example')" onmouseout="hide('rating_example')">Rating Scale</a></li>
            <li><a href="javascript:void(0);" onclick="javascript:addInfoNode();" onmouseover="show('plain_text_example')" onmouseout="hide('plain_text_example')">Plain Text</a></li>
            <li><a href="javascript:void(0);" onclick="javascript:addTextArea();" onmouseover="show('textarea_example')" onmouseout="hide('textarea_example')">Large Text/ Essay</a></li>
          </ul>
  	</div>
  	<div class="btn-group">
  		<button class="btn btn-warning" onclick="addPage();">Add Page</button>
  	</div>
    <div class="btn-group">
      <button class="btn btn-warning" onclick="manageFlow('/surveys/@surveyId/flow')"><i class="icon-random icon-white"></i>&nbsp;Flow</button>
    </div>
  	<div class="btn-group">
  		<button class="btn btn-info" onclick="previewWindow('/surveys/@surveyId/preview')"><i class="icon-eye-open icon-white"></i>&nbsp;Preview</button>
  	</div>
    <div class="btn-group pull-right">
      <button class="btn btn-success" onclick="$('#survey_status').val('Live'); $('#survey_form').submit();"><i class="icon-shopping-cart icon-white"></i>&nbsp;Activate</button>
    </div>
    <div class="btn-group pull-right">
      <button class="btn btn-info" onclick="saveSurvey();"><i class="icon-pencil icon-white"></i>&nbsp;Save Draft</button>
    </div>
    <div class="btn-group pull-right">
      <a href="/surveys/@surveyId/pdf" class="btn btn-info"><i class="icon-file icon-white"></i>&nbsp;Export to PDF</a>
    </div>
  </div>
  	<div id="examples" style="background-color:#eee; position: relative;">
  		<div id="textbox_example" class="example">Text Box <input type="text" disabled="disabled" /></div>
  		<div id="radio_example" class="example">Single Choice <br/>a <input type="radio" disabled="disabled" checked="checked"/><br/>b <input type="radio" disabled="disabled" /><br/>c <input type="radio" disabled="disabled" /></div>
  		<div id="checkbox_example" class="example">Multiple Choice <br/>a <input type="checkbox" disabled="disabled" checked="checked"/><br/>b <input type="checkbox" disabled="disabled" /><br/>c <input type="checkbox" disabled="disabled"  checked="checked"/></div>
      <div id="ranking_example" class="example">Ranking <br/><ul class="ranking_demo"><li>Lorem ipsum</li><li>Lorem ipsum</li><li>Lorem ipsum</li></ul></div>
  		<div id="dropdown_example" class="example">Select one <select disabled="disabled"><option>sample</option></select></div>
      <div id="rating_example" class="example">
        <table class="table">
          <tr>
            <th>&nbsp;</th><th>1</th><th>2</th><th>3</th><th>4</th>
          </tr>
          <tr>
            <th>Lorem ipsum dolor sit amet</th><th><input type="radio" disabled="disabled"/></th><th><input type="radio" disabled="disabled"/></th><th><input type="radio" disabled="disabled"/></th><th><input type="radio" disabled="disabled"/></th>
          </tr>
        </table>
      </div>
  		<div id="plain_text_example" class="example">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
  		<div id="textarea_example" class="example">Large Text/ Essay <textarea disabled="disabled" rows="5" columns="30">Lorem ipsum dolor sit amet</textarea></div>
  	</div>
