@(message: String, user: String)

@main(user, -1) {
<!--[if IE]>
  <style>
    .signin input[type="text"], input[type="password"] { width: 150px; }
  </style>
<![endif]-->
<div class="row home">
  <div class="span9">
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
	<div class="hero-unit">
	  <h1>Hello, world!</h1>
	  <p>Welcome to Factile, your free online fact finding survey tool.</p>
	  <p><a class="btn btn-primary btn-large" href="/assets/html/free_online_surveys.html">Learn more &raquo;</a></p>
    <div class="clearfix">&nbsp;</div>
    <div class="pull-right">
  @tags.socialmedia {
    }
  </div>
	</div>
</div>
  <div class="span3">
    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    @if(user == null) {
    <div class="signin">
      <form action="/login" method="post">
        <input name="username" type="text" placeholder="Email address"/><br/>
        <input name="password" type="password" placeholder="Password" /><br/>
        <input type="submit" value="Sign in" class="btn btn-primary"/>
        <!-- authenticate with facebook -->
        <a href="https://graph.facebook.com/oauth/authorize?client_id=287505401344847&redirect_uri=http://www.factile.net/facebook&scope=email"><img src="/assets/images/facebook.png" height="24px" alt="Login with Facebook"/></a>
        <!-- authenticate with google -->
        <a href="https://accounts.google.com/o/oauth2/auth?scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile&state=%2Fprofile&redirect_uri=http%3A%2F%2Fwww.factile.net%2Fgoogle&response_type=code&client_id=1064263236398.apps.googleusercontent.com&approval_prompt=auto"><img src="/assets/images/google.png" height="24px" alt="Login with Google Account"/></a>
        <div class="clearfix">&nbsp;</div>
      </form>
      <p>Not a member yet? Click here to <a href="/newuser">sign up</a></p>
      <p>Issues logging in? Click here to <a href="/recover">recover your password</a></p>
    </div>
    }
  </div>
</div>
<div class="row">
  <div class="clearfix">&nbsp;</div>
  <div class="clearfix">&nbsp;</div>
</div>
<div class="row-fluid">
  <div class="span4 rounded-corners shadow" style="background-color:#DCEAF4; padding: 10px 10px 10px 10px;"><h3 style="color: #3A87AD;">Free Online Surveys</h3><br>
    Design and share unlimited surveys at zero cost (100% free). This free online survey tool provides many advanced features as flow logic, offline survey capability, mobile/ iPad support - features that other tools would charge for! 
  </div>
  <div class="span4 rounded-corners shadow" style="background-color:#DFF0D8; padding: 10px 10px 10px 10px;"><h3 style="color: #468847;">Powerful Analytics and Easy Insights</h3><br>
    There are pretty cool analysis tools too! Build pie charts, bar charts, or look at a word tag cloud to get quick insights. Or, just group questions and define filters and let this free online survey tool tell you the top 5 audience picked combinations!
  </div>
  <div class="span4 rounded-corners shadow" style="background-color:#FCF8E3; padding: 10px 10px 10px 10px;"><h3 style="color: #C09853;">Surveys that Work Anywhere</h3><br>
    You design the questionnaire, and we deliver an online survey that runs anywhere. Your audience may take the survey on a mobile phone, or a laptop, or a tablet. Oh, did we mention your audience could take the surveys in transit, even when they have a flaky internet connection? All that just comes naturally!
  </div>
</div>
<div class="row">
  <div class="clearfix">&nbsp;</div>
</div>
<div class="row">
  <span class="pull-right footer_text">Icons by <a href="http://dryicons.com" target="_blank">http://dryicons.com</a></span>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24696060-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    if (document.location.href.indexOf('factile.net') != -1) {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    }
  })();
</script>
}